h1, .jumbotron {
	text-align: center;
	font-family: 'Amatic SC', cursive;
	color: #fff;
}

.jumbotron {
	background-image: url("../images/skateboard-wheels.jpg");
}

body {
	font-family: font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    background-color: black;
}

img {
	width: 400px;
	height: 400px;
}

.btn { 
  color: #ffffff; 
  background-color: gray; 
  border-color: #FFFFFF; 
}