h1, .jumbotron {
font-family: 'Monofett', cursive;
}

.jumbotron {
	background-image: url("../images/skateboard-wheels.jpg");
	background-repeat: no-repeat;
   background-size: cover;
   margin: auto;
   color: white;   
}

body {
	font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    background-color: black;
}

img {
	width: 400px;
	height: 400px;
}

.btn { 
  color: #ffffff; 
  background-color: gray; 
  border-color: #FFFFFF; 
  font-size: 30px;
  padding: 15px;
  margin-top: 15px;
}